.alert{
    background-color: #6eccaf;
    color: #344d67;
    font-weight: 1rem;
}

.section-filters{
    color:#6ECCAF ;
}
.collapse:not(.show) {
    display: flex;
}
.btn-filters{
    display: none;
}
.filters-area {
    justify-content: start;
}
@media(max-width:800px){
    h2{
        color:#6ECCAF ;
    }

    .section-filters{
        align-items: center;
        flex-direction: column;
       
    }
    .filters-area >h2{
        text-align: center; 
        
    }
    .filters-area{
        width: 90%; 
        background-color: #344D67;
        border-radius: 8px;
        padding: 15px;
        justify-content: space-around;
    }
    .collapse:not(.show) {
        display: none;
    }
    .filters{
        flex-direction: column;
        width: fit-content;
    }
    .btn-filters{
        display: block;
    }

}