.form-switch{
    background-color: #344d67;
    border-radius: 8px;
    color: #6eccaf;
}

.form-check-input:checked{
    background-color:#223142 !important;
}

.form-switch .form-check-input{
    background-color: #b1f0dc;
    
}