@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Raleway:wght@100;500;600;900&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}

h1{
  font-weight: 500;
  color: #344D67;
}
.navbar-brand{
  padding: 40px 80px!important;
  
}

.botones{
  background-color:#344D67!important;
}
.botones:hover, .boton:hover, .btn-active{
  background-color: #6ECCAF !important;
  color: #344D67!important;
  width: fit-content!important;
  
}
a{
  color: #6ECCAF !important;
}


